.App {
  text-align: center;

  .drum-machine {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    .drum-pads {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .drum-pad{
        border: 1px solid black;
        padding: 2rem;
        margin: .25rem;
        border-radius: 10px;
        background: white;
        color: black;
        box-shadow: 3px 3px 3px black;
      }
    }
  }



}